body {
    margin: 0;
    width: 1440px;
    font-family: 'Signika', sans-serif;
}

section {
    margin-top: 0px;
}

.top-banner {
    background-image: url(images/top-banner-donate.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 670px;
    margin-top: 0px;
}

.top-bannner-01 {
    text-align: center;
    padding: 167px;
    text-align: center;
}

.top-bannner-01 h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.top-bannner-01 p {
    color: white;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    background-image: linear-gradient(#3A34C8, #873EAF);
    border-radius: 5px;
    font-weight: 700;
}


.donate-today {
    width: 100%;
}

.donate-today h1 {
    color: #3A34C8;
    font-size: 50px;
    text-align: center;
}

.five-box {
    width: 54%;
    padding: 0px;
    display: flex;
    margin-left: 326px;
}

.donate-today p {
    color: rgb(0, 0, 0);
    text-align: center;

}

#box-200tk {
    background-color: #FFEEEE;
    border: 3px solid #6039BB;

}

#box-200tk h2 {
    color: #3A34C8;
}

.box {
    width: 135px;
    height: 123px;
    background-color: rgb(240, 240, 240);
    margin-left: 20px;
    border-radius: 10px;

}

.box h2 {
    color: rgb(94, 92, 92);
    text-align: center;
    padding-top: 29px;
}

.input-and-button {
    width: 52.5%;
    text-align: center;
    display: block;
    margin-left: 345px;
    margin-top: 24px;
}

.input-and-button input {

    border: none;
    margin-left: 42px;

}

.our-donate-plan {
    width: 100%;

}

.our-donate-plan h1 {
    text-align: center;
    font-size: 50px;
}

#our-donate-plan-p {
    text-align: center;
    padding: 10px;
}

.three-plan-box {
    display: flex;
    width: 80%;
    margin-left: 144px;
}

.plan-box {
    width: 360px;
    height: 271px;
    margin-left: 18px;
    text-align: justify;
}

.plan-box img {
    padding: 10px;
    width: 70px;
    height: 70px;
    padding-left: 145px;
}

.plan-box h2 {
    padding: 10px;
    text-align: center;
}

.plan-box p {
    padding: 10px;
    text-align: justify;
}

#plan-box-one {
    background-color: rgba(255, 222, 173, 0.692);
}

#plan-box-two {
    background-color: #6d3bb8af;
}

#plan-box-three {
    background-color: rgba(255, 222, 173, 0.692);
}

.section-four {
    width: 65%;
    display: flex;
    margin: 83px 10px 10px 314px;
}

.section-four-img {
    width: 50%;
}

.section-four-img img {
    width: 350px;
    height: 350px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 12px;
}

.section-four-text {
    width: 50%;
}

.section-four-text h1 {
    color: #3A34C8;
}

.section-four-text p {
    margin: 32px 0px 106px 0px;
}

.stay-updated {
    width: 35%;
    margin: 57px 0px 30px 478px;
    box-shadow: 10px 10px 40px grey;
    padding-bottom: 40px;
    border-radius: 15px;
}

.subscribe {
    text-align: center;
}

.subscribe h1 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}


.subscribe img {
    width: 60px;
    height: 60px;
    margin: 17px 222px 10px 222px;
}

.subscribe-button input {
    border-radius: 5px 0px 0px 5px;
    padding: 10px 30px;
    margin-left: 74px;

}

.subscribe-button {
    display: flex;
}

.subscribe-button button {
    padding: 10px 30px;
    background-image: linear-gradient(#3A34C8, #873EAF);
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: white;
    font-weight: 700;
}

.footer {
    background-color: indigo;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
}

.footer p {
    padding-top: 42px;
}